@model LoginVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">

    <!--====== Title ======-->
    <title>Allup - Electronics Responsive eCommerce HTML Template.</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/png">


    <!-- CSS
    ============================================ -->
    <!--===== Vendor CSS (Bootstrap & Icon Font) =====-->

    <link rel="stylesheet" href="~/assets/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/ionicons.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/fontawesome.min.css">

    <!--===== Plugins CSS (All Plugins Files) =====-->

    <link rel="stylesheet" href="~/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="~/assets/css/plugins/animate.css">
    <link rel="stylesheet" href="~/assets/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/default.css">

    <!--====== Main Style CSS ======-->
    <link rel="stylesheet" href="~/assets/css/style.css">

</head>
<body>
    <section class="login-area pt-10">
        <div class="container-fluid custom-container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-register-wrapper mt-30">
                        <h4 class="allup-title">Login to Your Account</h4>
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <form action="#">
                            <div class="single-form">
                                <input asp-for="UserNameOrEmail" class="form-control form-control-lg" placeholder="Username or Email">
                                <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
                            </div>
                            <div class="single-form">
                                <input asp-for="Password" class="form-control form-control-lg" placeholder="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="custom-checkbox mt-30">
                                <label class="form-check-label text-muted">
                                    <input asp-for="RememberMe" class="form-check-input">
                                    Keep me signed in
                                </label>
                            </div>
                            <div class="single-form">
                                <button asp-controller="account" asp-action="Login" class="main-btn main-btn-2">Login</button>
                            </div>
                        </form>
                        <p class="mt-20"><a href="#">Lost your password?</a></p>
                        <div class="text-center mt-4 font-weight-light">
                            Don't have an account? <a asp-controller="account" asp-action="Register" class="text-primary">Create</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/assets/js/vendor/modernizr-3.7.1.min.js"></script>

    <!--====== Plugins js ======-->
    <script src="~/assets/js/plugins/popper.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/slick.min.js"></script>
    <script src="~/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="~/assets/js/plugins/jquery-ui.min.js"></script>

    <script src="~/assets/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" integrity="sha512-EanukVTZc4W9tUCLnDl069Izidg49PcNRKO1upLzKt9ajq66i+bXOtlzXcIbRhb6vVEGF6BCc8wQi5T1ztCpTQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
