
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">

    <!--====== Title ======-->
    <title>Allup - Electronics Responsive eCommerce HTML Template.</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/png">


    <!-- CSS
    ============================================ -->
    <!--===== Vendor CSS (Bootstrap & Icon Font) =====-->

    <link rel="stylesheet" href="~/assets/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/ionicons.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/fontawesome.min.css">

    <!--===== Plugins CSS (All Plugins Files) =====-->

    <link rel="stylesheet" href="~/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="~/assets/css/plugins/animate.css">
    <link rel="stylesheet" href="~/assets/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/default.css">

    <!--====== Main Style CSS ======-->
    <link rel="stylesheet" href="~/assets/css/style.css">
</head>
<body>
    <section class="register-area pt-10">
        <div class="container-fluid custom-container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="login-register-wrapper mt-30">
                        <h4 class="allup-title">Creat New Account</h4>
                        <p class="mt-10">Already have an account? <a href="login.html">Log in instead!</a></p>

                        <form action="#">
                            <div class="single-form">
                                <input type="text" placeholder="First Name">
                            </div>
                            <div class="single-form">
                                <input type="text" placeholder="Last Name">
                            </div>
                            <div class="single-form">
                                <input type="email" placeholder="Email Address">
                            </div>
                            <div class="single-form">
                                <input type="text" placeholder="Username">
                            </div>
                            <div class="single-form">
                                <input type="password" placeholder="Password">
                            </div>
                            <div class="single-form">
                                <input type="password" placeholder="Confirm Password">
                            </div>
                            <div class="custom-checkbox mt-30">
                                <input type="checkbox" id="account-1">
                                <label for="account-1"></label>
                                <p>Receive Offers From Our Partners</p>
                            </div>
                            <div class="custom-checkbox mt-30">
                                <input type="checkbox" id="account-2">
                                <label for="account-2"></label>
                                <p>Sign Up For Our Newsletter <br> Subscribe To Our Newsletters Now And Stay Up-To-Date With New Collections, The Latest Lookbooks And Exclusive Offers..</p>
                            </div>
                            <div class="single-form">
                                <button class="main-btn main-btn-2">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/assets/js/vendor/modernizr-3.7.1.min.js"></script>

    <!--====== Plugins js ======-->
    <script src="~/assets/js/plugins/popper.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/slick.min.js"></script>
    <script src="~/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="~/assets/js/plugins/jquery-ui.min.js"></script>


    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <script src="~/assets/js/plugins.min.js"></script> -->
    <!--====== Main Activation js ======-->
    <script src="~/assets/js/main.js"></script>
</body>
</html>
