@model CategoryUpdateVM
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Form Design <small>different form elements</small></h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form method="post" asp-controller="category" asp-action="update" class="forms-sample" enctype="multipart/form-data" class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Name"></label>
                                <input asp-for="Name" class="form-control col-md-7 col-xs-12" placeholder="Name" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="Description">Description</label>
                                <input asp-for="Description" class="form-control col-md-7 col-xs-12" placeholder="Description" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" asp-for="NewImages">Image</label>
                                <input asp-for="NewImages" class="form-control col-md-7 col-xs-12" multiple class="form-control" placeholder="Photo">
                                <span class="text-danger" asp-validation-for="NewImages"></span>
                            </div>
                            <div class="form-group">
                                @foreach (var image in Model.ExistingImages)
                                {
                                    <img class="me-2" width="200" src="~/assets/images/product/@image.ImageUrl" />
                                    <a class="btn btn-danger" asp-controller="Product" asp-action="RemoveImage" asp-route-id="@image.Id">Delete</a>
                                }
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                    <a asp-controller="Category" asp-action="Index" class="btn btn-primary">cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Areas/AdminArea/Views/Shared/PartialNotifications/_ParNotification.cshtml")

@section Scripts{
    <partial name="_ValidationPartial"></partial>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}



